* {
  box-sizing: border-box;
}

body {
  max-width: 680px;
  margin: 52px auto;
  font: 13px/2 "Helvetica Neue", Verdana, sans-serif;
  color: #333;
}

h1 {
  padding: 0.5em;
  border: 1px solid #aaa;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

form {
  padding: 2em;
  border: 1px solid #aaa;
  border-top-width: 0;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 1.5em;
}

legend {
  padding: 0;
  font-weight: bold;
}

textarea {
  height: 6em;
  width: 100%;
  margin: 0;
}

textarea,
input[type="text"],
select {
  border: 1px solid #BCBCBC;
  padding: 0.5em;
  margin: 0;
  background: #f6f6f6;
  border-radius: 4px;
}

textarea:focus,
input[type="text"]:focus,
select:focus {
  border: 1px solid #99E2FF;
  outline: none;
  background: #fff;
  box-shadow: 0 0 6px #99E2FF;
}

.form-row {
  display: flex;
  margin-bottom: 1em;
}

label {
  width: 25%;
}

label[for] {
  cursor: pointer;
}

.field-container, textarea {
  width: 75%;
}

input.first-name-field, input.address-city {
  margin-right: 0.5em;
}

.address-street-address, .address-line-2 {
  width: 100%;
  display: block;
}

.address-postal-code {
  display: block;
}

.address-fields input {
  margin-bottom: 0.5em;
}

input[type="radio"] {
  margin-top: -3px;
}

.course-fields {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5em;
}

.course-fields label {
  width: auto;
}

.submit {
  text-align: right;
}
