body {
  background-color: #F5F6FA;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
}

/* Note, this is position: relative so that we can put the image inside of it */
.tv-picture-container {
  margin: 50px auto;
  width: 900px; /* fixed width so we can get the faux screen to sit in place */
  position: relative;
}

/* super custom dimensions on the tv screen part */
.tv-show {
  background-color: black;
  top: 5px;
  bottom: 77px;
  right: 36px;
  left: 35px;
  overflow-x: hidden; /* if the image is the wrong aspect ratio, this cuts it off */
  overflow-y: hidden; /* janky, yeah but youd probably work with a design to get this right IRL */
  position: absolute;
}

img {
  width: 100%;
  height: auto;
  transition: 200ms ease-in-out;
}

.tv-remote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.tv-remote button {
  width: 54px;
  height: 54px;
  padding: 0;
  border: none;
  background-color: #444;
  cursor: pointer; 
  color: #fff;
  font-size: 2em;
  text-align: center;
  border-radius: 50%;
  transition: 300ms ease-in-out;
}

.tv-remote button:hover {
  background-color: #666;
}

.tv-remote button:active {
  background-color: #888;
}
