* {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  padding: 0 1em;
  margin: 3em auto;
  font: 16px/1.5 sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.gallery {
  margin-bottom: 6em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.gallery a {
  transition: 0.2s ease-out;
}

.gallery a:hover {
  box-shadow: 2px 2px 6px #aaa;
  transform: scale(1.05);
}

#dog-breeds .list {
  padding: 0;
  list-style: none;
}

.dog-breed {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background: #f6f6f6;
}

.dog-breed img {
  width: 33%;
}

.dog-breed div {
  width: 100%;
  padding-left: 1em;
  border: 1px solid #ddd;
  border-left: none;
}

.dog-breed p {
  display: grid;
  margin: 0.5em 0;
  grid-template-columns: 10em 1fr;
}

input[class$=search] {
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  font-size: inherit;
}

.sort {
  padding: 0.5em 1em;
  border: none;
  font-size: inherit;
  cursor: pointer;
  background: #ddd;
}

.sort::after {
  content: '\00a0\00a0';
  padding-left: 0.25em;
}

.asc::after {
  content: '↓';
}

.desc::after {
  content: '↑';
}
