body {
  margin: 0;
  font: 16px/1.5 sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

header {
  background: #20c063;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-logo {
  width: 132px;
  height: 42px;
}

.burger-button {
  width: 42px;
  height: 42px;
  padding: 8px;
  border: none;
  background: none;
  cursor: pointer;
}

.main-nav {
  display: none;
}

.main-nav a {
  color: #fff;
}

.nav-user {
  height: 42px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

main {
  background: #e8e9ea;
}

.house-listings {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.house-listing {
  list-style: none;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.house-image {
  width: 100%;
  height: auto;
  display: block;
}

.house-listing-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.house-price {
  font-weight: bold;
}

.house-facts {
  display: flex;
  gap: 10px;
}

.house-beds, .house-baths {
  display: flex;
  align-items: center;
  gap: 5px;
}

.house-facts .icon {
  height: 20px;
}

.house-listing p {
  margin: 0;
}

.house-address {
  color: #787d81;
}

.nearby {
  display: grid;
  gap: 20px;
}

.nearby ul {
  list-style: none;
  padding: 0;
}

.nearby a {
  color: #787d81;
}

.nearby .more {
  color: #20c063;
}

@media (min-width: 768px) {
  .burger-button {
    display: none;
  }

  .main-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  .house-listings,
  .nearby {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 960px) {
  .house-listings {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nearby {
    grid-template-columns: repeat(4, 1fr);
  }
}
