* {
  box-sizing: border-box;
}

html {
  font: 16px/1.5 sans-serif;
  color: #333;
  text-align: center;
}

.container {
  max-width: 800px;
  padding: 0 15px;
  margin: auto;
}

.lists {
  display: flex;
  justify-content: space-around;
}

form {
  max-width: 320px;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 300px;
  padding: 0.75rem 1rem;
  border: 2px solid #eee;
  border-right: none;
  flex-basis: 75%;
  transition: border-color 0.2s ease-out;
  font-size: inherit;
}

input[type="text"]:focus {
  outline: none;
  border-color: cornflowerblue;
}

input[type="submit"] {
  flex-basis: 25%;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  background: cornflowerblue;
  color: #fff;
  font-size: inherit;
}

.lists div {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 1rem;
}

.lists ul {
  list-style-type: none;
}

.todo-item {
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  margin: 0.5rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  background: #eee;
}

.todo-item::after {
  content: "\2713";
  width: 2rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #38A169;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}

.todo-item:not(.completed):hover::after,
.completed::after {
  opacity: 1;
}

.completed {
  cursor: auto;
}
